.user{
    display: flex;
    padding: 1rem;
    align-items: center;
    transition: .4s;
    border-bottom: 2px solid rgb(243, 243, 243);
    height: 110px;
}

.user:hover{
    cursor: pointer;
    height: 130px;
}

.user .icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
    margin: 0 1.5rem;
}

.user .info{
    text-align: left;
    color: #5e676f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.user .info h2{
    font-size: 24px;
    margin-bottom: 0;
}

.user .info small{
    font-size: 14px;
}

.user .acess{
    height: 10px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border: none;
    background: green;
    margin: 0 1.5rem;
    transition: .4s;
    opacity: .7;
}

.user:hover .acess{
    transform: rotate(90deg) translateY(-20px);
    opacity: 1;
    width: 60px;
}