body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.usersList{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 3rem auto;
    background-color: #f8f9fa;
}